@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

@import 'styles/variables';
@import 'styles/syncdings';
@import 'styles/buttons';
@import 'styles/colors';
@import 'styles/media';

body {
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  color: $green-darkest;
  font-size: 40px;
  font-weight: 100;
}

h2 {
  color: $blue-darkest;
  font-size: 30px;
}

.button-row {
  @include os-button-row('button');
}

.button {
  @include os-button;
}

.text-button {
  @include os-text-button;
}

.media {
  @include os-media;
}
