@import 'variables', 'mixins';

.#{$sd-css-prefix}-add:before { content: $sd-var-add; }
.#{$sd-css-prefix}-admin:before { content: $sd-var-admin; }
.#{$sd-css-prefix}-apple:before { content: $sd-var-apple; }
.#{$sd-css-prefix}-attach:before { content: $sd-var-attach; }
.#{$sd-css-prefix}-award:before { content: $sd-var-award; }
.#{$sd-css-prefix}-bell:before { content: $sd-var-bell; }
.#{$sd-css-prefix}-beta:before { content: $sd-var-beta; }
.#{$sd-css-prefix}-bio:before { content: $sd-var-bio; }
.#{$sd-css-prefix}-book:before { content: $sd-var-book; }
.#{$sd-css-prefix}-bookmark:before { content: $sd-var-bookmark; }
.#{$sd-css-prefix}-budget:before { content: $sd-var-budget; }
.#{$sd-css-prefix}-calendar:before { content: $sd-var-calendar; }
.#{$sd-css-prefix}-calendar-add:before { content: $sd-var-calendar-add; }
.#{$sd-css-prefix}-cap:before { content: $sd-var-cap; }
.#{$sd-css-prefix}-check:before { content: $sd-var-check; }
.#{$sd-css-prefix}-checkbook:before { content: $sd-var-checkbook; }
.#{$sd-css-prefix}-clipboard:before { content: $sd-var-clipboard; }
.#{$sd-css-prefix}-collapse:before { content: $sd-var-collapse; }
.#{$sd-css-prefix}-communication:before { content: $sd-var-communication; }
.#{$sd-css-prefix}-community:before { content: $sd-var-community; }
.#{$sd-css-prefix}-construction:before { content: $sd-var-construction; }
.#{$sd-css-prefix}-contact-book:before { content: $sd-var-contact-book; }
.#{$sd-css-prefix}-crop:before { content: $sd-var-crop; }
.#{$sd-css-prefix}-darth:before { content: $sd-var-darth; }
.#{$sd-css-prefix}-dashboard:before { content: $sd-var-dashboard; }
.#{$sd-css-prefix}-delete:before { content: $sd-var-delete; }
.#{$sd-css-prefix}-discussion:before { content: $sd-var-discussion; }
.#{$sd-css-prefix}-donation:before { content: $sd-var-donation; }
.#{$sd-css-prefix}-down:before { content: $sd-var-down; }
.#{$sd-css-prefix}-download:before { content: $sd-var-download; }
.#{$sd-css-prefix}-download-calendar:before { content: $sd-var-download-calendar; }
.#{$sd-css-prefix}-dues-simple:before { content: $sd-var-dues-simple; }
.#{$sd-css-prefix}-dues:before { content: $sd-var-dues; }
.#{$sd-css-prefix}-duplicate:before { content: $sd-var-duplicate; }
.#{$sd-css-prefix}-easel:before { content: $sd-var-easel; }
.#{$sd-css-prefix}-edit:before { content: $sd-var-edit; }
.#{$sd-css-prefix}-email:before { content: $sd-var-email; }
.#{$sd-css-prefix}-embed:before { content: $sd-var-embed; }
.#{$sd-css-prefix}-eportfolio:before { content: $sd-var-eportfolio; }
.#{$sd-css-prefix}-error:before { content: $sd-var-error; }
.#{$sd-css-prefix}-event:before { content: $sd-var-event; }
.#{$sd-css-prefix}-expand:before { content: $sd-var-expand; }
.#{$sd-css-prefix}-feed:before { content: $sd-var-feed; }
.#{$sd-css-prefix}-file:before { content: $sd-var-file; }
.#{$sd-css-prefix}-form:before { content: $sd-var-form; }
.#{$sd-css-prefix}-forward:before { content: $sd-var-forward; }
.#{$sd-css-prefix}-gear:before { content: $sd-var-gear; }
.#{$sd-css-prefix}-google:before { content: $sd-var-google; }
.#{$sd-css-prefix}-home:before { content: $sd-var-home; }
.#{$sd-css-prefix}-inbox:before { content: $sd-var-inbox; }
.#{$sd-css-prefix}-info:before { content: $sd-var-info; }
.#{$sd-css-prefix}-invoice:before { content: $sd-var-invoice; }
.#{$sd-css-prefix}-involvement:before { content: $sd-var-involvement; }
.#{$sd-css-prefix}-jobs:before { content: $sd-var-jobs; }
.#{$sd-css-prefix}-location:before { content: $sd-var-location; }
.#{$sd-css-prefix}-lock:before { content: $sd-var-lock; }
.#{$sd-css-prefix}-logic:before { content: $sd-var-logic; }
.#{$sd-css-prefix}-logout:before { content: $sd-var-logout; }
.#{$sd-css-prefix}-magnify:before { content: $sd-var-magnify; }
.#{$sd-css-prefix}-manage-acct:before { content: $sd-var-manage-acct; }
.#{$sd-css-prefix}-manage:before { content: $sd-var-manage; }
.#{$sd-css-prefix}-menu:before { content: $sd-var-menu; }
.#{$sd-css-prefix}-message:before { content: $sd-var-message; }
.#{$sd-css-prefix}-more:before { content: $sd-var-more; }
.#{$sd-css-prefix}-move-to-person:before { content: $sd-var-move-to-person; }
.#{$sd-css-prefix}-move:before { content: $sd-var-move; }
.#{$sd-css-prefix}-news:before { content: $sd-var-news; }
.#{$sd-css-prefix}-next:before { content: $sd-var-next; }
.#{$sd-css-prefix}-note:before { content: $sd-var-note; }
.#{$sd-css-prefix}-notification:before { content: $sd-var-notification; }
.#{$sd-css-prefix}-office-shortcuts:before { content: $sd-var-office-shortcuts; }
.#{$sd-css-prefix}-open-book:before { content: $sd-var-open-book; }
.#{$sd-css-prefix}-organization:before { content: $sd-var-organization; }
.#{$sd-css-prefix}-orgsync-c:before { content: $sd-var-orgsync-c; }
.#{$sd-css-prefix}-orgwall:before { content: $sd-var-orgwall; }
.#{$sd-css-prefix}-page:before { content: $sd-var-page; }
.#{$sd-css-prefix}-payment:before { content: $sd-var-payment; }
.#{$sd-css-prefix}-paypal:before { content: $sd-var-paypal; }
.#{$sd-css-prefix}-people:before { content: $sd-var-people; }
.#{$sd-css-prefix}-person:before { content: $sd-var-person; }
.#{$sd-css-prefix}-phone:before { content: $sd-var-phone; }
.#{$sd-css-prefix}-photo:before { content: $sd-var-photo; }
.#{$sd-css-prefix}-pie-chart:before { content: $sd-var-pie-chart; }
.#{$sd-css-prefix}-pointer-down:before { content: $sd-var-pointer-down; }
.#{$sd-css-prefix}-pointer-left:before { content: $sd-var-pointer-left; }
.#{$sd-css-prefix}-pointer-right:before { content: $sd-var-pointer-right; }
.#{$sd-css-prefix}-pointer-up:before { content: $sd-var-pointer-up; }
.#{$sd-css-prefix}-poll:before { content: $sd-var-poll; }
.#{$sd-css-prefix}-post-to:before { content: $sd-var-post-to; }
.#{$sd-css-prefix}-previous:before { content: $sd-var-previous; }
.#{$sd-css-prefix}-promote:before { content: $sd-var-promote; }
.#{$sd-css-prefix}-registration:before { content: $sd-var-registration; }
.#{$sd-css-prefix}-reply:before { content: $sd-var-reply; }
.#{$sd-css-prefix}-reply-all:before { content: $sd-var-reply-all; }
.#{$sd-css-prefix}-reports:before { content: $sd-var-reports; }
.#{$sd-css-prefix}-request:before { content: $sd-var-request; }
.#{$sd-css-prefix}-reset:before { content: $sd-var-reset; }
.#{$sd-css-prefix}-revenue:before { content: $sd-var-revenue; }
.#{$sd-css-prefix}-rocket:before { content: $sd-var-rocket; }
.#{$sd-css-prefix}-rotate-cw:before { content: $sd-var-rotate-cw; }
.#{$sd-css-prefix}-rotate-ccw:before { content: $sd-var-rotate-ccw; }
.#{$sd-css-prefix}-rss:before { content: $sd-var-rss; }
.#{$sd-css-prefix}-rsvp:before { content: $sd-var-rsvp; }
.#{$sd-css-prefix}-save:before { content: $sd-var-save; }
.#{$sd-css-prefix}-service:before { content: $sd-var-service; }
.#{$sd-css-prefix}-settings:before { content: $sd-var-settings; }
.#{$sd-css-prefix}-sms:before { content: $sd-var-sms; }
.#{$sd-css-prefix}-star:before { content: $sd-var-star; }
.#{$sd-css-prefix}-statistics:before { content: $sd-var-statistics; }
.#{$sd-css-prefix}-status:before { content: $sd-var-status; }
.#{$sd-css-prefix}-store:before { content: $sd-var-store; }
.#{$sd-css-prefix}-success:before { content: $sd-var-success; }
.#{$sd-css-prefix}-support:before { content: $sd-var-support; }
.#{$sd-css-prefix}-swipe:before { content: $sd-var-swipe; }
.#{$sd-css-prefix}-time:before { content: $sd-var-time; }
.#{$sd-css-prefix}-timesheet:before { content: $sd-var-timesheet; }
.#{$sd-css-prefix}-todo-list:before { content: $sd-var-todo-list; }
.#{$sd-css-prefix}-tool:before { content: $sd-var-tool; }
.#{$sd-css-prefix}-treasury:before { content: $sd-var-treasury; }
.#{$sd-css-prefix}-umbrella:before { content: $sd-var-umbrella; }
.#{$sd-css-prefix}-unlock:before { content: $sd-var-unlock; }
.#{$sd-css-prefix}-up:before { content: $sd-var-up; }
.#{$sd-css-prefix}-upload:before { content: $sd-var-upload; }
.#{$sd-css-prefix}-video:before { content: $sd-var-video; }
.#{$sd-css-prefix}-view:before { content: $sd-var-view; }
.#{$sd-css-prefix}-weather:before { content: $sd-var-weather; }
.#{$sd-css-prefix}-webcal-url:before { content: $sd-var-webcal-url; }
.#{$sd-css-prefix}-website:before { content: $sd-var-website; }
.#{$sd-css-prefix}-windows:before { content: $sd-var-windows; }
.#{$sd-css-prefix}-world:before { content: $sd-var-world; }
.#{$sd-css-prefix}-wrench:before { content: $sd-var-wrench; }
.#{$sd-css-prefix}-yahoo:before { content: $sd-var-yahoo; }
.#{$sd-css-prefix}-zeus:before { content: $sd-var-zeus; }
