.#{$sd-css-prefix}-home:before { content: $sd-var-home; }
.#{$sd-css-prefix}-communication:before { content: $sd-var-communication; }
.#{$sd-css-prefix}-budget:before { content: $sd-var-budget; }
.#{$sd-css-prefix}-contact:before { content: $sd-var-contact; }
.#{$sd-css-prefix}-donation:before { content: $sd-var-donation; }
.#{$sd-css-prefix}-event:before { content: $sd-var-event; }
.#{$sd-css-prefix}-form:before { content: $sd-var-form; }
.#{$sd-css-prefix}-poll:before { content: $sd-var-poll; }
.#{$sd-css-prefix}-store:before { content: $sd-var-store; }
.#{$sd-css-prefix}-todo:before { content: $sd-var-todo; }
.#{$sd-css-prefix}-invoice:before { content: $sd-var-invoice; }
.#{$sd-css-prefix}-video:before { content: $sd-var-video; }
.#{$sd-css-prefix}-discussion:before { content: $sd-var-discussion; }
.#{$sd-css-prefix}-email:before { content: $sd-var-email; }
.#{$sd-css-prefix}-file:before { content: $sd-var-file; }
.#{$sd-css-prefix}-website:before { content: $sd-var-website; }
.#{$sd-css-prefix}-message:before { content: $sd-var-message; }
.#{$sd-css-prefix}-news:before { content: $sd-var-news; }
.#{$sd-css-prefix}-people:before { content: $sd-var-people; }
.#{$sd-css-prefix}-sms:before { content: $sd-var-sms; }
.#{$sd-css-prefix}-timesheet:before { content: $sd-var-timesheet; }
.#{$sd-css-prefix}-calendar:before { content: $sd-var-calendar; }
.#{$sd-css-prefix}-photo:before { content: $sd-var-photo; }
.#{$sd-css-prefix}-page:before { content: $sd-var-page; }
.#{$sd-css-prefix}-paypal:before { content: $sd-var-paypal; }
.#{$sd-css-prefix}-treasury:before { content: $sd-var-treasury; }
.#{$sd-css-prefix}-checkbook:before { content: $sd-var-checkbook; }
.#{$sd-css-prefix}-dues:before { content: $sd-var-dues; }
.#{$sd-css-prefix}-dues-simple:before { content: $sd-var-dues-simple; }
.#{$sd-css-prefix}-settings:before { content: $sd-var-settings; }
.#{$sd-css-prefix}-payment:before { content: $sd-var-payment; }
.#{$sd-css-prefix}-bookmark:before { content: $sd-var-bookmark; }
.#{$sd-css-prefix}-service:before { content: $sd-var-service; }
.#{$sd-css-prefix}-organization:before { content: $sd-var-organization; }
.#{$sd-css-prefix}-tool:before { content: $sd-var-tool; }
.#{$sd-css-prefix}-umbrella:before { content: $sd-var-umbrella; }
.#{$sd-css-prefix}-community:before { content: $sd-var-community; }
.#{$sd-css-prefix}-inbox:before { content: $sd-var-inbox; }
.#{$sd-css-prefix}-notification:before { content: $sd-var-notification; }
.#{$sd-css-prefix}-eportfolio:before { content: $sd-var-eportfolio; }
.#{$sd-css-prefix}-request:before { content: $sd-var-request; }
.#{$sd-css-prefix}-involvement:before { content: $sd-var-involvement; }
.#{$sd-css-prefix}-jobs:before { content: $sd-var-jobs; }
.#{$sd-css-prefix}-open:before { content: $sd-var-open; }
.#{$sd-css-prefix}-person:before { content: $sd-var-person; }
.#{$sd-css-prefix}-support:before { content: $sd-var-support; }
.#{$sd-css-prefix}-logout:before { content: $sd-var-logout; }
.#{$sd-css-prefix}-manage:before { content: $sd-var-manage; }
.#{$sd-css-prefix}-download:before { content: $sd-var-download; }
.#{$sd-css-prefix}-upload:before { content: $sd-var-upload; }
.#{$sd-css-prefix}-lock:before { content: $sd-var-lock; }
.#{$sd-css-prefix}-move:before { content: $sd-var-move; }
.#{$sd-css-prefix}-reset:before { content: $sd-var-reset; }
.#{$sd-css-prefix}-manage:before { content: $sd-var-manage; }
.#{$sd-css-prefix}-edit:before { content: $sd-var-edit; }
.#{$sd-css-prefix}-reports:before { content: $sd-var-reports; }
.#{$sd-css-prefix}-admin:before { content: $sd-var-admin; }
.#{$sd-css-prefix}-registration:before { content: $sd-var-registration; }
.#{$sd-css-prefix}-error:before { content: $sd-var-error; }
.#{$sd-css-prefix}-success:before { content: $sd-var-success; }
.#{$sd-css-prefix}-construction:before { content: $sd-var-construction; }
.#{$sd-css-prefix}-info:before { content: $sd-var-info; }
.#{$sd-css-prefix}-weather:before { content: $sd-var-weather; }
.#{$sd-css-prefix}-feed:before { content: $sd-var-feed; }
.#{$sd-css-prefix}-office:before { content: $sd-var-office; }
.#{$sd-css-prefix}-promote:before { content: $sd-var-promote; }
.#{$sd-css-prefix}-darth:before { content: $sd-var-darth; }
.#{$sd-css-prefix}-post:before { content: $sd-var-post; }
.#{$sd-css-prefix}-status:before { content: $sd-var-status; }
.#{$sd-css-prefix}-beta:before { content: $sd-var-beta; }
.#{$sd-css-prefix}-zeus:before { content: $sd-var-zeus; }
.#{$sd-css-prefix}-delete:before { content: $sd-var-delete; }
.#{$sd-css-prefix}-down:before { content: $sd-var-down; }
.#{$sd-css-prefix}-up:before { content: $sd-var-up; }
.#{$sd-css-prefix}-unlock:before { content: $sd-var-unlock; }
.#{$sd-css-prefix}-check:before { content: $sd-var-check; }
.#{$sd-css-prefix}-note:before { content: $sd-var-note; }
.#{$sd-css-prefix}-revenue:before { content: $sd-var-revenue; }
.#{$sd-css-prefix}-book:before { content: $sd-var-book; }
.#{$sd-css-prefix}-next:before { content: $sd-var-next; }
.#{$sd-css-prefix}-previous:before { content: $sd-var-previous; }
.#{$sd-css-prefix}-add:before { content: $sd-var-add; }
.#{$sd-css-prefix}-expand:before { content: $sd-var-expand; }
.#{$sd-css-prefix}-dashboard:before { content: $sd-var-dashboard; }
.#{$sd-css-prefix}-save:before { content: $sd-var-save; }
.#{$sd-css-prefix}-move:before { content: $sd-var-move; }
.#{$sd-css-prefix}-logic:before { content: $sd-var-logic; }
.#{$sd-css-prefix}-collapse:before { content: $sd-var-collapse; }
.#{$sd-css-prefix}-world:before { content: $sd-var-world; }
.#{$sd-css-prefix}-duplicate:before { content: $sd-var-duplicate; }
.#{$sd-css-prefix}-orgwall:before { content: $sd-var-orgwall; }
.#{$sd-css-prefix}-orgsync:before { content: $sd-var-orgsync; }
.#{$sd-css-prefix}-swipe:before { content: $sd-var-swipe; }
.#{$sd-css-prefix}-pointer-down:before { content: $sd-var-pointer-down; }
.#{$sd-css-prefix}-pointer-left:before { content: $sd-var-pointer-left; }
.#{$sd-css-prefix}-pointer-right:before { content: $sd-var-pointer-right; }
.#{$sd-css-prefix}-pointer-up:before { content: $sd-var-pointer-up; }
.#{$sd-css-prefix}-location:before { content: $sd-var-location; }
.#{$sd-css-prefix}-magnify:before { content: $sd-var-magnify; }
.#{$sd-css-prefix}-rss:before { content: $sd-var-rss; }
.#{$sd-css-prefix}-star:before { content: $sd-var-star; }
