@font-face {
  font-family: SyncDings;
  src: url('#{$sd-font-path}.eot?v=#{$sd-version}');
  src: url('#{$sd-font-path}.eot?#iefix&v=#{$sd-version}') format('embedded-opentype'),
    url('#{$sd-font-path}.woff?v=#{$sd-version}') format('woff'),
    url('#{$sd-font-path}.ttf?v=#{$sd-version}') format('truetype'),
    url('#{$sd-font-path}.svg?v=#{$sd-version}#SyncDingsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
