$sd-font-path: '../fonts/SyncDings-Regular' !default;
// $sd-font-path: '//orgsync.com/assets/SyncDings-Regular;
$sd-css-prefix: icon !default;
$sd-version: '1.0.0' !default;
$sd-border-color: #eee !default;
$sd-inverse: #fff !default;
$sd-li-width: (30em / 14) !default;

$sd-var-add: '\f081';
$sd-var-admin: '\f056';
$sd-var-apple: '\f132';
$sd-var-attach: '\f102';
$sd-var-award: '\f105';
$sd-var-bell: '\f112';
$sd-var-beta: '\f069';
$sd-var-bio: '\f107';
$sd-var-book: '\f078';
$sd-var-bookmark: '\f031';
$sd-var-budget: '\f002';
$sd-var-calendar: '\f021';
$sd-var-calendar-add: '\f139';
$sd-var-cap: '\f106';
$sd-var-check: '\f075';
$sd-var-checkbook: '\f026';
$sd-var-clipboard: '\f108';
$sd-var-collapse: '\f087';
$sd-var-communication: '\f001';
$sd-var-community: '\f036';
$sd-var-construction: '\f060';
$sd-var-contact-book: '\f003';
$sd-var-darth: '\f066';
$sd-var-dashboard: '\f083';
$sd-var-delete: '\f071';
$sd-var-discussion: '\f012';
$sd-var-donation: '\f004';
$sd-var-down: '\f072';
$sd-var-download: '\f048';
$sd-var-download-calendar: '\f137';
$sd-var-dues-simple: '\f027';
$sd-var-dues: '\f028';
$sd-var-duplicate: '\f089';
$sd-var-easel: '\f109';
$sd-var-edit: '\f054';
$sd-var-email: '\f013';
$sd-var-embed: '\f138';
$sd-var-eportfolio: '\f039';
$sd-var-error: '\f058';
$sd-var-event: '\f005';
$sd-var-expand: '\f082';
$sd-var-feed: '\f063';
$sd-var-file: '\f014';
$sd-var-form: '\f006';
$sd-var-forward: '\f141';
$sd-var-gear: '\f128';
$sd-var-google: '\f133';
$sd-var-home: '\f000';
$sd-var-inbox: '\f037';
$sd-var-info: '\f061';
$sd-var-invoice: '\f010';
$sd-var-involvement: '\f041';
$sd-var-jobs: '\f042';
$sd-var-key: '\f129';
$sd-var-location: '\f097';
$sd-var-lock: '\f050';
$sd-var-logic: '\f086';
$sd-var-logout: '\f046';
$sd-var-magnify: '\f098';
$sd-var-manage-acct: '\f047';
$sd-var-manage: '\f053';
$sd-var-menu: '\f142';
$sd-var-message: '\f016';
$sd-var-move-to-person: '\f051';
$sd-var-more: '\f127';
$sd-var-move: '\f085';
$sd-var-move-circle: '\f130';
$sd-var-news: '\f017';
$sd-var-next: '\f079';
$sd-var-note: '\f076';
$sd-var-notification: '\f038';
$sd-var-office-shortcuts: '\f064';
$sd-var-open-book: '\f043';
$sd-var-organization: '\f033';
$sd-var-orgsync-c: '\f091';
$sd-var-orgwall: '\f090';
$sd-var-page: '\f023';
$sd-var-payment: '\f030';
$sd-var-paypal: '\f024';
$sd-var-pending: '\f131';
$sd-var-people: '\f018';
$sd-var-person: '\f044';
$sd-var-phone: '\f101';
$sd-var-photo: '\f022';
$sd-var-pie-chart: '\f055';
$sd-var-pointer-down: '\f095';
$sd-var-pointer-left: '\f094';
$sd-var-pointer-right: '\f093';
$sd-var-pointer-up: '\f096';
$sd-var-poll: '\f007';
$sd-var-post-to: '\f067';
$sd-var-previous: '\f080';
$sd-var-promote: '\f065';
$sd-var-registration: '\f057';
$sd-var-reply: '\f140';
$sd-var-reply-all: '\f143';
$sd-var-reports: '\f111';
$sd-var-request: '\f040';
$sd-var-reset: '\f052';
$sd-var-revenue: '\f077';
$sd-var-rocket: '\f113';
$sd-var-rss: '\f099';
$sd-var-rsvp: '\f118';
$sd-var-save: '\f084';
$sd-var-service: '\f032';
$sd-var-settings: '\f029';
$sd-var-sms: '\f019';
$sd-var-star: '\f103';
$sd-var-statistics: '\f110';
$sd-var-status: '\f068';
$sd-var-store: '\f008';
$sd-var-success: '\f059';
$sd-var-support: '\f045';
$sd-var-swipe: '\f092';
$sd-var-time: '\f117';
$sd-var-timesheet: '\f020';
$sd-var-todo-list: '\f009';
$sd-var-tool: '\f034';
$sd-var-treasury: '\f025';
$sd-var-umbrella: '\f035';
$sd-var-unlock: '\f074';
$sd-var-up: '\f073';
$sd-var-upload: '\f049';
$sd-var-video: '\f011';
$sd-var-view: '\f104';
$sd-var-weather: '\f062';
$sd-var-webcal-url: '\f136';
$sd-var-website: '\f015';
$sd-var-windows: '\f135';
$sd-var-world: '\f088';
$sd-var-wrench: '\f100';
$sd-var-yahoo: '\f134';
$sd-var-zeus: '\f070';
