$sd-font-path: '../fonts/SyncDings-Regular' !default;
// $sd-font-path: '//orgsync.com/assets/SyncDings-Regular;
$sd-css-prefix: icon !default;
$sd-version: '1.0.0' !default;
$sd-border-color: #eee !default;
$sd-inverse: #fff !default;
$sd-li-width: (30em / 14) !default;

$sd-var-home: '\f000';
$sd-var-communication: '\f001';
$sd-var-budget: '\f002';
$sd-var-contact: '\f003';
$sd-var-donation: '\f004';
$sd-var-event: '\f005';
$sd-var-form: '\f006';
$sd-var-poll: '\f007';
$sd-var-store: '\f008';
$sd-var-todo: '\f009';
$sd-var-invoice: '\f010';
$sd-var-video: '\f011';
$sd-var-discussion: '\f012';
$sd-var-email: '\f013';
$sd-var-file: '\f014';
$sd-var-website: '\f015';
$sd-var-message: '\f016';
$sd-var-news: '\f017';
$sd-var-people: '\f018';
$sd-var-sms: '\f019';
$sd-var-timesheet: '\f020';
$sd-var-calendar: '\f021';
$sd-var-photo: '\f022';
$sd-var-page: '\f023';
$sd-var-paypal: '\f024';
$sd-var-treasury: '\f025';
$sd-var-checkbook: '\f026';
$sd-var-dues: '\f028';
$sd-var-dues-simple: '\f027';
$sd-var-settings: '\f029';
$sd-var-payment: '\f030';
$sd-var-bookmark: '\f031';
$sd-var-service: '\f032';
$sd-var-organization: '\f033';
$sd-var-tool: '\f034';
$sd-var-umbrella: '\f035';
$sd-var-community: '\f036';
$sd-var-inbox: '\f037';
$sd-var-notification: '\f038';
$sd-var-eportfolio: '\f039';
$sd-var-request: '\f040';
$sd-var-involvement: '\f041';
$sd-var-jobs: '\f042';
$sd-var-open: '\f043';
$sd-var-person: '\f044';
$sd-var-support: '\f045';
$sd-var-logout: '\f046';
$sd-var-manage: '\f047';
$sd-var-download: '\f048';
$sd-var-upload: '\f049';
$sd-var-lock: '\f050';
$sd-var-move: '\f051';
$sd-var-reset: '\f052';
$sd-var-manage: '\f053';
$sd-var-edit: '\f054';
$sd-var-reports: '\f055';
$sd-var-admin: '\f056';
$sd-var-registration: '\f057';
$sd-var-error: '\f058';
$sd-var-success: '\f059';
$sd-var-construction: '\f060';
$sd-var-info: '\f061';
$sd-var-weather: '\f062';
$sd-var-feed: '\f063';
$sd-var-office: '\f064';
$sd-var-promote: '\f065';
$sd-var-darth: '\f066';
$sd-var-post: '\f067';
$sd-var-status: '\f068';
$sd-var-beta: '\f069';
$sd-var-zeus: '\f070';
$sd-var-delete: '\f071';
$sd-var-down: '\f072';
$sd-var-up: '\f073';
$sd-var-unlock: '\f074';
$sd-var-check: '\f075';
$sd-var-note: '\f076';
$sd-var-revenue: '\f077';
$sd-var-book: '\f078';
$sd-var-next: '\f079';
$sd-var-previous: '\f080';
$sd-var-add: '\f081';
$sd-var-expand: '\f082';
$sd-var-dashboard: '\f083';
$sd-var-save: '\f084';
$sd-var-move: '\f085';
$sd-var-logic: '\f086';
$sd-var-collapse: '\f087';
$sd-var-world: '\f088';
$sd-var-duplicate: '\f089';
$sd-var-orgwall: '\f090';
$sd-var-orgsync: '\f091';
$sd-var-swipe: '\f092';
$sd-var-pointer-down: '\f095';
$sd-var-pointer-left: '\f094';
$sd-var-pointer-right: '\f093';
$sd-var-pointer-up: '\f096';
$sd-var-location: '\f097';
$sd-var-magnify: '\f098';
$sd-var-rss: '\f099';
$sd-var-star: '\f103';
