@mixin os-button {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: $border-radius;
  background: white;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: $normal;
  line-height: 2.5em;
  margin: 0;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  @include transition(box-shadow .25s, border .25s);

  // Hover States (& Focus)
  &:hover, &:focus {
    background: white;
    border: 1px solid #bbb;
    border-bottom: 1px solid $slate-darkest;
    box-shadow: 0px 1px 0px #ccc;
    text-decoration: none !important;
  }
}

@mixin os-button-green{
  background: #82a941;
  border: 1px solid #7ea444;
  color: #fff !important;
  &:hover, &:focus {
    border: 1px solid #455d20;
    border-bottom: 1px solid #303c1f;
    background-color: #759b38;
  }
  &:active {
    background-color: #6f962e;
  }
}

@mixin os-button-simple{
  background: none;
  border: none;
  &:hover{
    // Use a light gray that will overlay
    // if this button is used on top of other colors
    background: rgba(0,0,0,0.06);
  }
}

@mixin os-button-tiny{
  font-size: .85rem;
  font-weight: $normal;
  width: auto;
  height: inherit;
}
