// Greys
$grey-darkest:    #2b2b2b;
$grey-darker:     #797979;
$grey:            #ccc;
$grey-lighter:    #e2e2e2;
$grey-lightest:   #f9f9f9;

$blue: #38afd4;
$blue-darkest: darken($blue, 15%);
$blue-lightest: lighten($blue, 20%);

$green: #87d361;
$green-darkest: darken($green, 15%);
$green-lightest: lighten($green, 20%);

$indigo: #819dd5;
$indigo-darkest: darken($indigo, 15%);
$indigo-lightest: lighten($indigo, 20%);

$orange: #e57d02;
$orange-darkest: darken($orange, 15%);
$orange-lightest: lighten($orange, 20%);

$pink: #cb4dc7;
$pink-darkest: darken($pink, 15%);
$pink-lightest: lighten($pink, 20%);

$purple: #a95bbf;
$purple-darkest: darken($purple, 15%);
$purple-lightest: lighten($purple, 20%);

$red: #de6444;
$red-darkest: darken($red, 15%);
$red-lightest: lighten($red, 20%);

$teal: #5bbfa1;
$teal-darkest: darken($teal, 15%);
$teal-lightest: lighten($teal, 20%);

$yellow: #efc24f;
$yellow-darkest: darken($yellow, 15%);
$yellow-lightest: lighten($yellow, 20%);

$slate: #bbbfc3;
$slate-darker: #979ea5;
$slate-darkest: #60666d;
$slate-lightest: #f2f3f6;

$highlight-color: $slate-lightest;

$yellow-highlight: lighten($yellow, 32%);
$green-highlight: lighten($green, 32%);
$blue-highlight: lighten($blue, 40%);
$purple-highlight: lighten($purple, 40%);

// Set up colors that relate to OS tools
$color-bookmarks: $teal-lightest;
$color-contact-books: $purple-darkest;
$color-discussions: $green;
$color-events: $red;
$color-files: $indigo;
$color-forms: $blue;
$color-messaging: $teal-darkest;
$color-news: $purple;
$color-pages: $pink;
$color-payments: $yellow-darkest;
$color-people: $pink;
$color-photos: $orange;
$color-polls: $teal;
$color-portal: $slate-darkest;
$color-service: $purple-lightest;
$color-videos: $orange-lightest;
$color-website: $yellow;
