@import 'colors';

@mixin ellipsis {
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin subtle-text {
  color: $grey-darker;
  font-size: 13px;
}

@mixin subtler-text {
  color: $grey-darker;
  font-size: 11px;
}
